# Git LFS tracking
Assets/Audio/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/*.mp3 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
